{% block head %}
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    </head>
{% endblock  %}
{% block body %}
<body>
    {% block header %}
    <div class="navbar">
        <h1 class="title">Scrapper Wikileaks</h1>
        <div class="dropdown">
            <button class="dropbtn">Categeories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/login"><i class="fas fa-users"></i>Login</a>
                <a href="/add"><i class="fas fa-plus"></i> Add article</a>
            </div>
        </div>
    </div>
    <h1> </h1>
    {% endblock %}
    {% block content %}
    
    {% endblock %}
    {% block footer %}
    <script src="https://kit.fontawesome.com/d54a7ee144.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% endblock %}
    
</body>
</html>
{% endblock %}


